.city {
    transition: .5s ease-in-out;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    margin: 50px;
    height: 73px;
    margin-bottom: -15px;
}

.city summary {
    background-color: lightcyan;
    width: 200px;
    height: 30px;
    text-align: left;
    margin: 0 !important;
}

.city div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 0;
    transition: all .5s ease-in-out;
}
.city[open]{
    margin-bottom: 10px;
}

.city[open] div {
    height: auto;
}

.city[open] a {
    height: auto;
    padding: 10px;
}

.city a {
    display: block;
    padding: 0;
    height: 0;
    transition: all .5s ease-in-out;
}

.default {
    cursor: pointer;
}

.active {
    cursor: default;
    color: var(--blue);
}



.metka {
    position: relative;
}

.metka:hover .card {
    display: block;
}



.text {
    padding: 0 5px;
    /*color: white;*/
    line-height: 18.3px;
}

.text span {
    font-weight: bold;
    margin-top: 10px;
}

.text div {
    margin: 5px;
}

.time {
    margin-left: 10px;
}

.address {
    word-wrap: normal;
}

@media(max-width: 600px) {
    .city div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 0;
        transition: all .5s ease-in-out;
        
    }
    .city[open] a {
        height: auto;
        padding: 5px;
    }
    .city[open]{
        margin-bottom: 100px;
    }
}

@media (min-width: 400px) {
    .card {
        max-width: 330px;
    }
    .card img {
        width: 330px;
        height: 180px;
    }
}
/*.map img {*/
/*    width: 100vw;*/
/*    height: auto;*/
/*}*/

/*.card {*/
/*    */
/*    height: auto;*/
/*    display: none;*/
/*    z-index: 1;*/
/*    max-width: 330px;*/
/*}*/

.box > .map {
    width: 100vw;
    height: 500px;
}
.card {
    display: block;
    /*background-color: #4E4E4E;*/
    max-width: 330px;
}

.card {
    display: block;
    max-width: 180px;
}
.card img {
    width: 180px;
    height: 100px;
}
