.box {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 50px;
}

.box h2 {
    color: var(--blue);
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 50px;
    padding: 0;
    margin-left: 50px;
    margin-top: 150px;
}

.box h2:nth-child(n + 2){
    margin-top: 50px;
}

.paragraph {
    margin-left: 70px;
}

.paragraph p {
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
}

.box ul{
    margin-left: 40px;
    margin-bottom: 10px;
}

.iconLink{
    margin-left: 10px;
    position: relative;
    top: 7px;
}

.cont .img{
    float: right;
    margin-right: 20px;
}

@media(max-width: 1200px){
    .cont{
        display: flex;
        flex-direction: column;
    }
    .img{
        margin-left: 70px;
        margin-bottom: 50px;
    }
}
@media(max-width: 600px) {
    .box h2, .img{
        margin-left: 20px;
    }
    .img{
        width: calc(100vw - 40px);
        height: auto;
    }
    .paragraph {
        margin: 0 10px 0 20px;
    }
}